---
layout: layouts/base.njk
title: Home
---
<div class="home">
  <section class="home-hero">
    <h1 class="home-title">More Radio</h1>
    <h1 class="home-title">More Fun</h1>
    <p class="home-subtitle">HAM radio etc</p>
  </section>

  <section class="home-features">
    <div class="feature-card">
More Radio leads to More Fun which attracts More People which enables More Radio
    </div>
  </section>
</div>
